.idea/**
.gradle/**
gradle/
src/main/java/GeneratedQEGrammar/
src/main/java/QEDocGrammar/*.java
src/main/java/QEDocGrammar/*.interp
src/main/java/QEDocGrammar/*.tokens
src/main/gen/
build/**
backup
README.md